@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap');

body, html{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #222;
    color: #ddd;
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 300px;
    height: 300px;

}

.descricao {
    width: 300px;
}

h2{
    margin-bottom: 5px;
}

.duracao{
    margin-top: 25px;
    width: 300px;
}

.barra{
    width: 300px;
    height: 6px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress{
    width: 0%;
    height: 6px;
    background-color: #333;
}

.ponto{
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 100%;
    margin-left: -10px;
}

.tempo{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.player{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.botao-play, .botao-pause{
    font-size: 50px;
    cursor: pointer;
}

.botao-pause, #botao-pause{
    display: none;
}

.setas{
    font-size: 40px;
    cursor: pointer;
}

button{
    background: transparent;
    color: #eee;
    border: none;
}

